:root {
    --myDkBlue: #555b6e;
    --myWhite: #faf9f9;
    --myMedBlue: #89b0ae;
    --myLtBlue: #bee3db;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--myLtBlue);
    position: relative;
}



header {
    background-color: pink;
    height: 225px;
    /* position: relative; */
}

header div {
    display: flex;
    justify-content: space-between;
}

header h2 {
    text-align: right;
}

header nav {
    width: fit-content;
    /* position: relative;
    top: 200px;
    right: 0px; */
}

header li {
    color: var(--myLtBlue); 
    border-bottom: solid;
    font-size: 1.5em;
    display: inline;
    margin: 15px;
}





.flex-container {
    display: flex;
}

nav.leftNav {
    background-color: lightblue;
    width: 30%;
    height: 900px;
}

main {
    border: black 1px solid;
    width: 70%;
}


article {
    background-color: pink;
    height: 100px;
}

section {
    background-color: rgb(81, 231, 186);
    margin: auto;
    height: 600px;
    width: 600px;
}

aside {
    border: 1px black solid;
    background-color: lightgreen;
    height: 100px;
    width: 300px;
    margin: auto;
}





footer {
    background-color: pink;
}

footer li {
    display: inline;

}


/* media queries */
@media screen and (max-width: 830px) {
   .smallProjectsContainer {
       display: block;
   }
    
}





