:root {
    --myDkBlue: #555b6e;
    --myWhite: #faf9f9;
    --myMedBlue: #89b0ae;
    --myLtBlue: #bee3db;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--myLtBlue);
    position: relative;
}



header {
    background-color: var(--myDkBlue);
    /* height: 225px; */
}

header div {
    display: flex;
    justify-content: space-between;
}

header h1 {
    background-color: var(--myLtBlue);
    margin-bottom: 0px;
    color: var(--myDkBlue);
    font-size: 2.5em;
    width: fit-content;
    padding: 10px 20px;
}

header h2 {
    text-align: right;
    background-color: var(--myLtBlue);
    width: fit-content;
    margin-left: auto;
    color: var(--myDkBlue);
    padding: 10px;
}

header ul {
    display: flex;
    list-style-type: none;
}

header li {
    color: var(--myLtBlue); 
    border-bottom: solid;
    font-size: 1.5em;
    margin: 15px;
    width: fit-content;
}





.flex-container {
    display: flex;
}

nav.leftNav {
    background-color: lightblue;
    flex: 30%;
    height: 900px;
}

main {
    border: black 1px solid;
    flex: 70%;
}


article {
    background-color: pink;
    height: 100px;
}

section {
    background-color: rgb(81, 231, 186);
    margin: auto;
    height: 600px;
    width: 600px;
}

aside {
    border: 1px black solid;
    background-color: lightgreen;
    height: 100px;
    width: 300px;
    margin: auto;
}





footer {
    display: flex;
}

footer li {
    border-bottom: solid;
    display: inline;
    color: var(--myDkBlue);
    font-size: 1.25em;
    margin-right: 25px;
}



/* media queries */
@media screen and (max-width: 880px) {
    /* Change from 2-column layout to 1-column for mobile. */
    .smallProjectsContainer {
        display: block;
    }

    /* Change header nav from row to column. */
    header div {
        flex-direction: column;
    }

    header ul {
        flex-direction: column;
    }

    /* Don't display sub-title or left margin nav on mobile. */
    header h2 {
        display: none;
    }

    nav.leftNav {
        display: none;
    }

    header h1 {
        text-align: center;
    }
}





