:root {
    --myDkBlue: #555b6e;
    --myWhite: #faf9f9;
    --myMedBlue: #89b0ae;
    --myLtBlue: #bee3db;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 3%;
    background-color: var(--myLtBlue);
    border: black 5px solid;
}

header {
    border: black 5px solid;
    position: relative;
    height: 30%;
    background-color: var(--myDkBlue);
    height: 300px;
}

h1 {
    font-size: 3em;
    color: var(--myDkBlue);
    width: 410px;
    background-color: var(--myLtBlue);
    margin: 0%;
    text-align: right;
    padding-right: 10px;
}

img {
    width: 100%;
}

header nav {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
}

header li {
    border-bottom: solid;
    display: inline;
    color: var(--myLtBlue); 
    font-size: 1.5em;
    margin: 15px;

}





main {
    border: black 5px solid;
    position: relative;
}

main nav {
    border: black 5px solid;
    width: 25%;
    height: 808px;
}
nav.leftColumn ul {
    list-style-type: none;
    font-size: 3em;
}




article {
    border: solid orange 1px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70%;
}

.mainProject { 
    background-image: url("../images/placeholder_640x430.png");
    width: 700px;
    height: 500px;
}

.projectBox {
    border: solid var(--myDkBlue) 5px;
    background-image: url("../images/placeholder_320x215.png");
    color: var(--myDkBlue);
    width: 320px;
    height: 215px;
}

div.labelContainer {
    border: solid black 1px;
    background-color: var(--myLtBlue);
    width: fit-content;
    padding: 5px;
}

div.projectLabel {
}

p.projectDetails {
    /* font-size: 1em; */

}








footer {
    border: black 5px solid;
    text-align: right;
}

footer li {
    border-bottom: solid;
    display: inline;
    color: var(--myDkBlue);
    font-size: 1.25em;
    margin-right: 25px;
}




